.App {
  margin: 5% 10%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field label {
  font-weight: bold;
}

.form-field input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-field button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
}
